h2 {
    text-align: center;
}

h3 {
    padding-inline-start: 49px;
    margin-bottom: 20px;
}

a {
    text-decoration: none !important;
    color: darkslateblue;
}

.fa-folder {
    margin-bottom: 10px;
}

.folder_container {
    margin: 20px;
    padding: 10px;
    width: 48%;
    background-color: azure; 
}

.container_display {
    display: contents !important;
}