<div class="row box-container">
    <div class="box-center-container">
        <button type="button" id="create-link" class="btn btn-primary btn-lg btn-block custom-btn">Create Link</button>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>

        <div class="col supplier-box-selected">
            <input name="cat-value" type="text" class="form-control" readonly />
        </div>
        <div class="col shop-box-selected">
            <input name="cat-value" type="text" class="form-control" readonly />
        </div>
    </div>
</div>
