<div class="col category-box supplier-box">
    <h3>Supplier Categories</h3>
    <ul style="margin: 10px !important; padding-inline-start: 41px;">
        @foreach (var root in Model)
        {
            foreach (var edcDict in root.EDCCategoriesDict)
            {
                <li><a class="select-supplier-category"><p>@edcDict.Key</p></a></li>

                <ul>
                    @foreach (var edcNestedDict in edcDict.Value)
                    {

                        <li style="display: flex;">
                            <a class="select-supplier-category" style="display: flex">
                                <p id="@edcNestedDict.RootId">@edcNestedDict.RootTitle</p>
                            </a>
                            <span style="margin-left: 10px; color: black;">(@edcNestedDict.ProductCount)</span>
                        </li>
                    }
                </ul>
            }
        }
    </ul>
</div>
