@model IEnumerable<SNPIDataManager.Models.NopProductsModel.ProductModel>

@{
    ViewBag.Title = "DisplayProducts";
}

<h2>Display Products</h2>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Id, @product.Name, @product.Images, @product.Sku</li>
    }
</ul>

