
<div class="button-box">
    <input type="button" class="btn-styling fi btn-success" value="Full Import" onclick="location.href='@Url.Action("Index", "FeedImport")'" />
    <input type="button" class="btn-styling fi-by-category btn-primary" value="Import By Category" onclick="location.href='@Url.Action("Index", "FeedImportByCategory")'" />
    <input type="button" class="btn-styling re-connect btn-danger" value="ReConnect" onclick="location.href='@Url.Action("Index", "ReConnect")'" />
</div>