@using SNPIDataManager.Setup;

<div class="jumbotron">
    <h1>IMPORT 0.3</h1>
</div>

@{
    NopAccessSetup setup = new NopAccessSetup();
}

@if (setup.IsSetup())
{
    Html.RenderPartial("_NopAuthorizationSetup");
}
else
{
    <a>@Html.ActionLink("Show Products", "GetProducts", "Products");</a>
    <a>@Html.ActionLink("Show Users", "GetCustomerInformation", "Customers");</a>
    <a>@Html.ActionLink("Show Categories", "GetCategories", "Categories");</a>
}