@model SNPIDataManager.Models.PreLoginModel

@{
    ViewBag.Title = "Logged In";
}

<div container style="margin-top: 50px;">
    <div>@Html.DisplayTextFor(Model => Model._AuthenticatedUser.Access_Token)</div><br />
    <div>@Html.DisplayTextFor(Model => Model._AuthenticatedUser.Username)</div>
</div>
