@model SNPIDataManager.Models.PreLoginModel

@{
    ViewBag.Title = "Logged In";
}

    <div container style="margin-top: 50px;">
        <div>@Html.DisplayTextFor(Model => Model.AuthenticatedUser.Access_Token)</div><br/>
        <div>@Html.DisplayTextFor(Model => Model.AuthenticatedUser.Username)</div>
    </div>

@{
    Html.RenderPartial("_LogoutForm");
}